div.base.janvier div { background-image: url(./1.jpg); }	
div.base.février div { background-image: url(./2.jpg); }	
div.base.mars div { background-image: url(./3.jpg); }	
div.base.avril div { background-image: url(./4.jpg); }	
div.base.mai div { background-image: url(./5.jpg); }	
div.base.juin div { background-image: url(./6.jpg); }	
div.base.juillet div { background-image: url(./7.jpg); }	
div.base.août div { background-image: url(./8.jpg); }	
div.base.septembre div { background-image: url(./9.jpg); }	
div.base.octobre div { background-image: url(./10.jpg); }	
div.base.novembre div { background-image: url(./11.jpg); }	
div.base.décembre div { background-image: url(./12.jpg); }
