.starter.env
/public/phpmyadmin
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
# Gstart files to ignore
/public/logs/*
public/conf_server_gitpod.php
public/conf_server.php
